.contacts {

  .contacts-title {
    font-size: 21px;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    margin: 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #374151;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      color: #6b7280;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s;

      &:hover {
        color: #3b82f6;
      }
    }
  }
}

.contacts {

  .contacts-title {
    font-size: 21px;
    font-weight: bold;
    color: #FFF;
    display: inline-block;
    margin: 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #374151;
  }

  .contacts-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    a {
      color: #6b7280;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s;

      &:hover {
        color: #3b82f6;
      }
    }
  }
}

@media (max-width: 768px) {
  .contacts {
    text-align: center;
  }

  .contacts .contacts-title {
    margin: 20px 0;
    font-size: 18px;
    display: inline-block;
  }

  .contacts .contacts-container {
    gap: 20px;
    align-items: center;
  }

  .contacts .contacts-container a {
    font-size: 15px;
    padding: 10px;
    width: fit-content;
    border: 1px solid transparent;
  }
}